
<app-header-mobile></app-header-mobile>
<app-menu></app-menu>
<div class="page-container">
  <app-header-desktop></app-header-desktop>
  <div class="main-content">
      <div class="section__content section__content--p30">
          <div class="container-fluid">
              <!-- <div class="overview-wrap">
                  <h2 class="title-1">overview</h2>
                  <button class="au-btn au-btn-icon au-btn--blue">
                      <i class="zmdi zmdi-plus"></i>add item</button>
              </div> -->
            <router-outlet></router-outlet>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>




